*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(52, 52, 107);

}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 54);
    padding: 0 50px;

}

header nav ul {
    height: 70px;
    display: flex; 
    gap: 50px;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}
header nav ul li, #all-country{
    transition: 0.3s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 20px;
    list-style: none;

}

header nav ul li:hover, #all-country:hover{
    background-color: rgb(51, 51, 105);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
#search-bar{
    width: 200px;
    height: 35px;
    border: 1px solid white;
    background-color: rgba(201, 200, 200, 0.149);
    outline: none;
    border-radius: 20px;
    padding: 0 15px;
    color: white;
    font-size: 1rem;
}
#cards-container{
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px;
}

.card-wrapper{
    width: 250px;
    height: 350px;
    transition: transform 0.3s ease; 
    position: relative;
}

.card-wrapper:hover{
    transform: scale(1.2);

}

.flag{
    width: 100%;
    height: 50%;
    filter: blur(3px);

}

.countryName{
    font-style: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.text-content{
    background-color: rgb(33, 33, 70);
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    padding: 20px;
    gap: 10px;
    filter: blur(3px);

}

.open{
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 30%;
    filter: none;
    border: 2px solid gray;
    transition: transform 0.3s ease; 
    
}

.open:hover{
    transform: scale(1.2);

}

.modal {
    display: none;
    width: 500px;
    height: 700px;
    background-color: rgb(33, 33, 70);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgb(18, 18, 37);
    z-index: 1000;
}