$bg-color: rgb(199, 77, 97);
$active-color: rgb(233, 195, 202);
$inactive-color: rgba(233, 197, 203, 0.79);
$score-table-color: rgba(218, 61, 100, 0.902);
$btn-color: rgba(255, 255, 255, 0.482);
$score-color: rgb(158, 81, 94);
$player-color: black;